# Ingore every file in this repository and explicitly whitelist
# the files that should be inluded.
*

# Allow the readme and gitignore files
!README.md
!.gitignore

# Allow the openapi.yaml file since it contains important information
# on how to use the service
!openapi.yaml

# Allow every file in the resources folder
!resources/
!resources/*

# Explicitly whitelist every .go file in the main directory
!*.go

# Explicitly whitelist every .go file in the following directories
!globals/
!globals/*.go

!types/
!types/*.go

!routes/
!routes/**
!routes/*.go

!enums/
!enums/*.go

# Allow package mamangement files for golang
!go.mod
!go.sum
